/* Color Scheme
FFD8BE Unbleached Silk

FFEEDD Antique White
255, 238, 221

F8F7FF Ghost White
248, 247, 255
B8B8FF Maximum Blue Purple
9381FF Medium Purple
*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');

*/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/
html{
    margin: auto;
    

}

body {
    background-color: #B8B8FF;
    font-family: 'Dongle';
    font-size: 24px;
    
}

.hero_container{
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #9381FF;
    Display: flex;
    flex-direction:column;
    text-align: center;
    
}    

.container2{   
    width: 25%;
    margin: auto;
    height: auto;
    Display: flex;
    justify-content: center;
    
}    
.image{
    border-radius: 50%;
     
}

.name{
    font-family: dongle, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1px;
      
}

.nav_container{
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #9381FF;
    text-align: center;

}

.nav_container a{
    font-family: dongle, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;

}

.nav_container a:hover{
    color: #FFEEDD;
    text-shadow: 1px 2px black;
}

.nav_container a:local-link{
    color: #FFEEDD;
    text-shadow: 3px 2px black;
}
section{
    min-height: 60vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD8BE;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left{
   
    width:40%;
    min-height: 100px;
    background-color: #9381FF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    color: #F8F7FF; 
    z-index: 9;
    opacity: 0.9;
}

.right{
    width: 60%;
    height: 600px;
    background:url(media/photo_cover.png) no-repeat center / contain;
    margin-left: -200px;

    
     
}
.left h1{
    margin-bottom: 0;
    font-size: 2rem;
    color:black;
    font-weight: 700;
    
}
.left p{
    margin: 10px 20px 40px 20px;
    line-height: 25px;
    font-size: 2rem;
    color: black;
    
}
.left a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #B8B8FF;
    color:black;
    font-weight: 700;
    padding: 20px 30px;
    letter-spacing: 2px;
    display:inline-block;
    border-radius: 12px;

}

.left a:hover{
    background-color: #B8B8FF;
    box-shadow: 5px 2.5px black;
}

.left a:active{
    background-color: #FFD8BE;
    box-shadow: -2.5px -2.5px darkgrey;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column-reverse;
    }
    .left{
        width: 80%;
        margin-top: -150px;
        

    }
    .right{
        width: 100%;
        margin: 0;
        margin-top: -75px;
    }
}
.footer{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #9381FF;
}