.container{
    width:300px;
    height: auto;
    background-color: aqua;
    Display: flex;
    
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    flex: 1 2 300px;
    justify-content: center;
    
}


.intro{
    font-size: 1.5rem;
    flex: 2 1 300px;
    justify-content: center;
}